body{
    font-family: 'Tajawal', sans-serif !important;
}
.product-card-alt .card-body, .product-card .card-body, .cz-sidebar-static, footer{
    direction: rtl;
    text-align: right;
}

.cz-sidebar-static .list-unstyled{
    padding-right: 0;
}

.rtl-mrl-3{
    margin-left: 3px;
}

.rtl-ar{
    direction: rtl;
    text-align: right;
}
.navbar-tool-text{
    padding-right: .875rem;
    padding-left: 0 !important;
}
.input-group-overlay .prepended-form-control:not(.rounded-left-0){
    padding-right: 40px;
}
.step-label>i {
    margin-right: 0;
    margin-left: .425rem;
}

.list-unstyled i{margin-right: 5px;}
